a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.pokedex {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
    height: 550px;
}

.display-container {
    width: 55%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.selector-container {
    width: 45%;
    height: 88%;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: none;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.above-screen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 12%;
    border-bottom: 3px solid black;
}

.screen-container {
    height: 69%;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.below-screen-container {
    height: 19%;
}

.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.pokemon-selector-container {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-selector > *:hover {
    background: lightblue;
}

.pokemon-selector-navigator {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Essential stylings for the general pokedex structure */

.power-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(74, 183, 255);
    border: 3px solid black;
    cursor: pointer;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-buttons {
    display: flex;
}

.option-buttons > *{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 7px;
    border: 3px solid black;
    cursor: pointer;
}

.option-button-red {
    background-color: red;
}

.option-button-yellow {
    background-color: yellow;
}

.option-button-green {
    background-color: green;
}

/* Styling for the top left section of the pokedex (where the buttons are. */

.screen-border {
    height: 80%;
    width: 80%;
    border: 8px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 90%;
    width: 90%;
    border-radius: 2rem;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.screen-pokemon-identity {
    height: 25%;
    border: 2px solid white;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokemon-name {
    text-transform: capitalize;
}

.screen-pokemon-image {
    height: 50%;
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen img {
    height: 100px;
    width: 100px;
}

.pokemon-front-image, .pokemon-back-image {
    margin: 0 10px;
}

.screen-pokemon-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.pokemon-type-one, .pokemon-type-two {
    margin: 0 25px;
    text-transform: capitalize;
}

/* Screen container */

.controller-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    background: pink;
}
.controller-square {
    height: 70px;
    width: 70px;
    border: 3px solid black;
    cursor: pointer;
    background: grey;
}

.controller-slit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.controller-slit-container > * {
    height: 5px;
    width: 35px;
    border: 2px solid black;
    background: white;
}

/* Below screen container */

.pokemon-selector {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
}

.pokemon-selector > * {
    width: 100%;
    height: 20%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: rgb(151, 149, 149);
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    cursor: pointer;
    transition: 0.5s ease all;
}


/* Selector top section */

.pokemon-selector-specific {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-selector-specific > * {
    width: 10%;
    border: 3px solid black;
    height: 80%;
    margin: 0 5px;
    background: lightblue;
    cursor: pointer;
}

/* Selector middle section */

.prev-button, .next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    width: 40%;
    height: 60%;
    margin: 0 15px;
}

.prev-button button, .next-button button {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    border: 3px solid black;
    background-color: white;
    transition: 0.5s ease all;
}

.prev-button button:hover, 
.next-button button:hover {
    background: lightblue;
}

/* Selector bottom section */


.rock, .steel {
    background: #CCBD72;
}

.fire, .psychic, .dark, .fairy {
    background: #f74e3c;
}

.water, .dragon, .ice, .ghost, .flying {
    background: #63aff5;
}

.grass, .bug, .ground, .poison {
    background: #5add7b;
}

.electric, .normal, .fighting {
    background: #ffe658;
}

/* Pokemon Types Background-color */

.above-screen-container, .screen-container, .below-screen-container, .pokemon-selector-container, .pokemon-selector-navigator, .pokemon-selector-specific, .selector-container {
    background: red;
}

.screen-border {
    background: black;
}

/* Background colors for components of pokedex */


@media screen and (max-width: 900px) {
    .pokedex {
        width: 650px;
        height: 446px;
    }
}

@media screen and (max-width: 768px) {
    .pokedex {
        flex-direction: column;
        width: 600px;
        height: 600px;
    }
    
    .display-container, .selector-container {
        width: 100%;
    }

    .selector-container {
        border-left: 3px solid black;
        border-top: none;
    }

    .power-button {
        height: 30px;
        width: 30px;
    }
    .option-buttons > * {
        height: 17px;
        width: 17px;
    }
    .screen img {
        height: 75px;
        width: 75px;
    }
    
    .pokemon-front-image, .pokemon-back-image {
        margin: 0 30px;
    }

    .controller-square {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .pokedex {
        width: 450px;
        height: 500px;
    }
    .power-button {
        height: 27px;
        width: 27px;
    }
    .option-buttons > * {
        height: 14px;
        width: 14px;
    }

    .screen img {
        height: 50px;
        width: 50px;
    }

    .controller-button {
        height: 30px;
        width: 30px;
    }

    .controller-square {
        width: 35px;
        height: 35px;
    }

    .pokemon-selector > * {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .pokedex {
        width: 300px;
    }
    .pokemon-selector-container, 
    .pokemon-selector-specific, 
    .pokemon-selector-navigator {
        width: 100%;
    }

}

/* Media queries */